bcrypt
beanie
duckduckgo-search
fastapi
langchain
loguru
motor
openai
pymongo
python-dotenv
snakemd
streamlit
streamlit-authenticator
streamlit_chat
streamlit-extras
tiktoken
uvicorn[standard]
wikipedia